header,
nav {
  background-color: #125b07;
  color: white;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: left;
  color: white;
}

.nav-li-right {
  float: right;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.link:hover {
  background-color: #111;
}

input[type="text"] {
  padding-top: 1%;
  margin-left: 1.5%;
  border: none;
  border-bottom: 1px solid grey;
}

.searchBar {
  width: 30%;
}

.articles,
.sort-by,
.add-article-button,
h1,
.back-to-top,
.loading,
.article,
label {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

ul {
  list-style-type: none;
}

.articles li {
  border-width: thin;
  border: grey solid 1px;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

h1,
h2 {
  padding-top: 1.5%;
}

.user-logged-in:active,
.user-logged-in {
  color: white;
  text-decoration: none;
  margin-right: 0.5%;
}

button,
a,
.link {
  cursor: pointer;
}

.loading {
  text-align: center;
  margin-top: 5em;
}

.up {
  color: green;
}

.down {
  color: red;
}

.neutral {
  color: black;
}

.article-body {
  font-weight: bold;
  margin-top: 0.5em;
}

.indiv-article-body {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.article-comment-count,
.article-topic {
  margin-top: 0.5em;
}

.article {
  text-align: center;
}

h4 {
  margin-top: 0.5em;
}

.no-articles-topic {
  text-align: center;
  margin-top: 5em;
}

.missing-fields {
  color: red;
}

.add-article-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 1em;
}

.topic-dropdown,
.post-article-button {
  width: 20%;
}

.add-article {
  text-align: center;
}

#input-body {
  border-style: 5px solid grey;
  height: 250px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
