/* .login form {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.login,
.login-form,
.wrong-user {
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.login-form input {
  width: 15%;
  padding-left: 0.5em;
}

.wrong-user {
  color: red;
  font-weight: bold;
}
