p {
  border: black solid 2px;
}
 
.App {
  text-align: center;
  display: grid;
  height: 200vh;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 4fr;
  grid-template-areas:
    'header header'
    'articles articles'
    'footer footer'
}

header {
  border: red solid 2px;
  grid-area: header;
}

nav {
  border: green solid 2px;
  grid-area: nav;
  padding-top: 0.5%;
  text-align: center;
}

.articles {
  border: blue solid 2px;
  grid-area: articles;
}

footer {
  border: hotpink solid 2px;
  grid-area: footer;
} 

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

li {
  width: 20%;
  border-style: solid;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 80px;
}