
.App {
  text-align: center;
  display: grid;
  height: 200vh;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 4fr;
  grid-template-areas:
    'header'
    'articles'
    'footer'
}

header {
  grid-area: header;
  text-align: left;
  margin-left: 5%;
  /* border: solid red; */
}

.searchBox {
  text-align: left;
  margin-left: 5%;
}

.nav {
  text-align: center;
  /* border: solid green; */
  background-color: #125B07;
  color: white;
  height: 50px;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 3fr;
  grid-template-areas:
    'heading nav logged-in'
}

.nc-news {
  grid-area: heading;
  align-items: center;
}

.logged-in {
  text-align: right;
  padding-right: 2%;
  font-size: 0.9em;
  margin-top: 0px;
  grid-area: logged-in;
}

nav {
  grid-template-areas: nav;
}

nav button {
  margin-left: 1%;
  margin-bottom: 2%
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

.articles {
  grid-area: articles;
  /* border: solid blue */
}

.add-article {
  /* border: solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-article-button {
  align-items: left;
  margin-left: 5%;
}

footer {
  grid-area: footer;
} 

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

li {
  width: 50%;
  border: solid 2px;
  border-bottom-style: none;
  padding: 1%;
  height: auto;
  overflow: hidden;
}

button {
  background-color: #125B07;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

.user-articles {
  width: 100%;
  height: auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-top: 5%;
  height: 100px;
  width: auto;
}

.required {
  border: red solid 2px;
}

p {
  padding: 0;
  margin: 0;
}