.App {
  text-align: center;
  display: grid;
  height: 200vh;
  grid-template-rows: 1fr 1fr 10fr;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    'nav nav'
    'header header'
    'articles .'
}

header {
  border: red solid 2px;
  grid-area: header;
}

.nav {
  border: green solid 2px;
  grid-area: nav;
  padding-top: 0.5%;
}

.articles {
  border: blue solid 2px;
  grid-area: 'articles'
}

